* text=auto

*.md text eol=lf
*.py text eol=lf
*.cpp text eol=lf
*.hpp text eol=lf
*.cu text eol=lf
*.cuh text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.sh text eol=lf
Makefile text eol=lf
